{% extends 'layout.html' %}
{% block content %}
<div class="form-wrapper">
    <h1>Add Product</h1>
    <form action="{{ url_for('addProduct') }}" method="POST" name="addProduct">
        <dt>
            <input type="text"  name="companyName" value='{{ companyName }}' hidden />
            <dd><input type="text" placeholder="Product Name" name="productName"/></dd>
            <dd><input type="text" placeholder="JAN" name="JAN"/></dd>
            <dd><input type="text" placeholder="LOT" name="LOT"/></dd>
            <dd><input type="Submit" class="button"> <input type="reset" class="button"></dd>
        </dt>
    </form>
</div>
{% endblock %}  